- hosts: localhost
  connection: local

  vars_files:
    - vars.yaml

  tasks:
    - name: Check if pumba exists
      stat:
        path: /usr/local/bin/pumba
      register: stat_result

    - name: Install pumba if not present
      shell: curl -L https://github.com/alexei-led/pumba/releases/download/0.6.5/pumba --output /usr/local/bin/pumba
      when: stat_result.stat.exists == False

    - name: Give proper execute permission
      file:
        path: /usr/local/bin/pumba
        state: touch
        mode: u+x
      when: stat_result.stat.mode != '0755'

    - name: Simulate network delay
      shell: pumba netem --duration {{ NETWORK_SIMULATION_DURATION }} --tc-image gaiadocker/iproute2 delay --time {{ DELAY_DURATION_IN_MILLIS }} {{ CONTAINER_NAMES }}
      when: CONTAINER_STATE == 'delay'